.searchBox input::placeholder {
    color: #1f1f1f !important;
}

.searchBox {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.searchBox input {
    width: 100% !important;
    height: 45px !important; 
    background: #e5e5e5 !important;
    border: none !important;
    outline: none !important;
    padding-left: 20px !important; 
    padding-right: 50px !important; 
    border-radius: 5px !important;
    color: #1f1f1f !important;
}


.searchBox button {
    position: absolute !important;
    right: 5px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    min-width: 37px !important;
    height: 37px !important;
}